:root {
    --blue1: #557394;
    --blue2: #314153; 
    --gray1: #24242A; 
    --gray2: #1d1d22; 
    --gray3: #343140; 
    --gray4: #767B84; 
    --white1: #F0EBE9; 
}

*{
    margin: 0;
    padding: 0;
    color: var(--white1);
}

body{
    background-color: var(--gray4);
}

.navbar{
    list-style-type: none;
    overflow: hidden;
    background-color: var(--gray3);
}
.navbarActive{
    border-bottom: 2px solid var(--blue1);
    background-color: var(--gray2);
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbarInactive{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbarInactive:hover{
    background-color: var(--gray1);
}

.container{
    height: 90%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.tableContent{
    background-color: var(--gray3);
    height: fit-content;
    width: fit-content;
    padding: 0 1vh 0 1vh;
    display: flex;
    margin-left: 2px;
    box-shadow: 0.5em 0.5em 1em --gray2;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
}

.tableContent2{
    background-color: var(--gray3);
    height: fit-content;
    width: fit-content;
    padding: 0 1vh 0 1vh;
    display: flex;
    margin-left: 2px;
    box-shadow: 0.5em 0.5em 1em --gray2;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
}

.rowHeader{
    background-color: var(--blue2);
}

.rowItems{
    background-color: var(--blue1);
    padding: 0 1em 0 1em;
    width: fit-content;
}